/*Change notifyPanelWidth in both places*/
@media (max-width:370px) {
	.room-xs{
		width: 100% !important;
	}
}
@media (max-width: 991px) and (max-width: 1199px) {
	.col-lg-2, .col-lg-4, .col-lg-8, .col-lg-12{
		padding: 0;
	}
	.page-header{
		padding: 10px;
	}
}
@media (min-width: 1200px) {
	.notifyPanel{
		float: right;
		width: 350px;
	}
	.roomsPanel{
		width: calc(100% - 350px);
	}
}

body{
	height:100%;
}
html{
	//-moz-transform: scale(0.9);
    //-webkit-transform: scale(0.9);
    //transform: scale(0.9);
    zoom: 90%; /* Webkit browsers */
    min-height:100%;
    position:relative;
}

.drag-handle {
	margin-right: 10px;
	font: bold 20px Sans-Serif;
	color: #5F9EDF;
	display: inline-block;
	cursor: move;
	cursor: -webkit-grabbing;
}

#room {
	background-color: #fff;
	padding: 10px 40px;
}

#roomsList {
	color: #464637;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	width: 30%; 
	margin-left: 10px;
}

.userDropDown{
	display: inline;
}