/*Change notifyPanelWidth in both places*/
@media (min-width: 1200px) {
	.roomsPanel{
		width: calc(100% - 350px);
	}
}
@media handheld and (max-width: 1199px) {
	.notifyPanel{
		width: auto;
	}
}
@media screen and (min-width: 1200px) {
	.notifyPanel{
		float: right;
		width: 350px;
	}
}
body{
	zoom: 90%;
	height:100%;
}
html{
    min-height:100%;
    position:relative;
}
#draggableElem{
	background-color: #ccc;
	padding: 5px 10px;
	color: #464637;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	//width: 300px;
}

#draggableItem{
	
}

#handle {
	/*margin-right: 10px;
	font: bold 20px Sans-Serif;
	color: #5F9EDF;
	display: inline-block;
	cursor: move;
	cursor: -webkit-grabbing;*/
	width: 30px;
	height: 30px;
}